body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
}

h1 {
  margin: 20px;
  padding: 25px;
}

h2,
h3,
p {
  margin: 20px;
}

input,
textarea {
  padding: 10px;
  border: 2px solid rgb(21, 134, 21);
  border-radius: 25px;
}

.radio-controls {
  display: flex;
  padding: 10px;
  border: 2px solid rgb(21, 134, 21);
  border-radius: 25px;
  background-color: white;
  color: black;
}

.head-container {
  background-color: green;
  max-width: 100%;
  color: antiquewhite;
}

.main-container {
  display: flex;
  flex-direction: column;
  color: darkolivegreen;
}

.content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;

  max-width: 100%;
  margin: 10px auto;
  padding: 15px;
}

.text-container {
  border: 5px solid rgb(102, 107, 102);
  border-radius: 25px;
  margin: 20px;
  padding: 15px;
  background-color: black;
}

.text-container img {
  margin: 10px;
  padding: 15px;
  width: 300px;
  height: 200px;
  max-width: 200px;
}

.footer-container {
  background-color: green;
}

.reacties-content-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 15px;
}

.content-contact-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  padding: 15px;
}

button {
  max-width: 30%;
  align-self: flex-end;
  background-color: green;
  color: beige;
  border-style: groove;
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

.laatstereacties {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: flex-start;

  padding: 5px;
  border: 5px dashed rgb(102, 107, 102);
  border-radius: 25px;
  margin: 5px auto;
  max-width: 70%;
  background-color: beige;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  color: black;
}

footer nav a {
  margin: 5px auto;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: beige;
  font-size: 20px;
}

.img-main {
  height: 150px;
}

.head-text {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .container {
    width: 95%;
    height: 95vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 8fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  header {
    display: grid;
    margin-top: 30px;
  }

  main {
    grid-column: 1 / 1;
    grid-row: 2 / 3;
  }

  footer {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    margin-bottom: 30px;
  }

  .content-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .reacties-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .content-contact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}
